[package]
name = "model"
version = "1.0.0"
publish = false
edition = "2021"

[lib]
name = "model"

[dependencies]
near-sdk = { workspace = true }

[dev-dependencies]
coverage-helper = { workspace = true }
