[workspace]

resolver = "2"

default-members = ["contract"]
members = ["contract", "integration-tests"]

[workspace.dependencies]
fake = "2.8.0"
rand = "0.8.5"
futures = "0.3.28"
near-sdk = "4.1.1"
itertools = "0.11.0"
ed25519-dalek = { version = "2.0.0", features = ["rand_core"] }
