[package]
name = "integration-tests"
version = "1.0.0"
publish = false
edition = "2021"

[lib]
name = "integration_tests"

[dependencies]
anyhow = { workspace = true }
num-format = { workspace = true }

[dev-dependencies]
fake = { workspace = true }
rand = { workspace = true }
futures = { workspace = true }
near-sdk = { workspace = true }
itertools = { workspace = true }
ed25519-dalek = { workspace = true }
base64 = { workspace = true }
mutants = { workspace = true }

sweat-jar-model = { workspace = true, features = ["integration-test"] }
sweat-model = { workspace = true, features = ["integration-test"] }
integration-utils = { workspace = true }
near-workspaces = { workspace = true }

borsh = "0.10.3"
maplit = "1.0"
near-units = "0.2.0"
# arbitrary_precision enabled for u128 types that workspaces requires for Balance types
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
tokio = { version = "1.18.1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
pkg-config = "0.3.1"
async-trait = "0.1.71"
