name: Test

on:
  pull_request:
    branches: [ main, dev, release ]

env:
  CARGO_TERM_COLOR: always

jobs:

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1.21.0

  unused-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for unused dependencies
        run: |
          cargo +nightly install cargo-machete --locked
          cargo machete

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint
        run: make lint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: make build

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Unit tests
        run: make test

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Integration tests
        run: make integration

  mutation-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install tool
        run: cargo install --locked cargo-mutants

      - name: Checkout
        uses: actions/checkout@v4

      - name: Mutation tests
        run: make mutation

  check-binary-hash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Hash
        run: make hash

      - name: Commit Hash
        run: echo ${{ github.event.pull_request.head.sha }}

